<li>
  <%= turbo_frame_tag note.to_turbo_frame_id do %>
    <div data-controller='note'>
      <%= link_to note.text, edit_note_path(note), data: { 'note-target': 'text' } %>
      <%= button_to 'Remove', note_path(note), method: :delete, form: { data: { 'turbo-frame': '_top' } } %>
    </div>
  <% end %>
</li>
<br>
