<div data-controller='note'>
  <%= turbo_frame_tag note.to_turbo_frame_id do %>
    <%= link_to edit_note_path(note), data: { action: 'click->note#hideRemoveButton' } do %>
      <li>
        <%= note.text %>
      </li>
    <% end %>
  <% end %>
  <div data-note-target='removeButton'>
    <%= button_to 'Remove', note_path(note), method: :delete %>
  </div>
  <br>
</div>
