<%= turbo_frame_tag note.to_turbo_frame_id do %>
  <%= link_to edit_note_path(note) do %>
    <li>
      <%= note.text %>
    </li>
  <% end %>
<% end %>
<%= button_to 'Remove', note_path(note), method: :delete %>
<br>
